html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

body,
body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}

@supports (-webkit-touch-callout: none) {
   body {
       margin-top: 0.5px;
   }
}

@media (orientation: landscape) {
    html,
    body {
        width: 100vw;
        height: 100vh;
    }
}

canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    image-rendering: pixelated;
}

.game {
    margin: auto;
    width: 100%;
    height: 100%;
}

@media (orientation: landscape) {
    .game {
        width: 100vw;
        height: calc(100vh - env(safe-area-inset-bottom, 0px));
    }
}

.flipped {
    transform: scaleY(-1);
}